.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.night {
  background-color: #000000; }

.day {
  background-color: #FFFFFF; }

.button.button-gray {
  border-color: #A4A4A4;
  background-color: #A4A4A4;
  color: #fff; }
  .button.button-gray:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-gray.active, .button.button-gray.activated {
    border-color: #A4A4A4;
    background-color: #A4A4A4;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .button.button-gray.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #A4A4A4; }
  .button.button-gray.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-gray.button-outline {
    border-color: #A4A4A4;
    background: transparent;
    color: #A4A4A4; }
    .button.button-gray.button-outline.active, .button.button-gray.button-outline.activated {
      background-color: #A4A4A4;
      box-shadow: none;
      color: #fff; }

.button.button-silver {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  color: #fff; }
  .button.button-silver:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-silver.active, .button.button-silver.activated {
    border-color: #CCCCCC;
    background-color: #CCCCCC;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .button.button-silver.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #CCCCCC; }
  .button.button-silver.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-silver.button-outline {
    border-color: #CCCCCC;
    background: transparent;
    color: #CCCCCC; }
    .button.button-silver.button-outline.active, .button.button-silver.button-outline.activated {
      background-color: #CCCCCC;
      box-shadow: none;
      color: #fff; }

.button.button-gold {
  border-color: #FFD700;
  background-color: #FFD700;
  color: #fff; }
  .button.button-gold:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-gold.active, .button.button-gold.activated {
    border-color: #FFD700;
    background-color: #FFD700;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .button.button-gold.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFD700; }
  .button.button-gold.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-gold.button-outline {
    border-color: #FFD700;
    background: transparent;
    color: #FFD700; }
    .button.button-gold.button-outline.active, .button.button-gold.button-outline.activated {
      background-color: #FFD700;
      box-shadow: none;
      color: #fff; }

.button.button-yellow {
  border-color: #FFFF00;
  background-color: #FFFF00;
  color: #fff; }
  .button.button-yellow:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-yellow.active, .button.button-yellow.activated {
    border-color: #FFFF00;
    background-color: #FFFF00;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .button.button-yellow.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #FFFF00; }
  .button.button-yellow.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-yellow.button-outline {
    border-color: #FFFF00;
    background: transparent;
    color: #FFFF00; }
    .button.button-yellow.button-outline.active, .button.button-yellow.button-outline.activated {
      background-color: #FFFF00;
      box-shadow: none;
      color: #fff; }

.button.button-brown {
  border-color: #835C3B;
  background-color: #835C3B;
  color: #fff; }
  .button.button-brown:hover {
    color: #fff;
    text-decoration: none; }
  .button.button-brown.active, .button.button-brown.activated {
    border-color: #835C3B;
    background-color: #835C3B;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .button.button-brown.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #835C3B; }
  .button.button-brown.button-icon {
    border-color: transparent;
    background: none; }
  .button.button-brown.button-outline {
    border-color: #835C3B;
    background: transparent;
    color: #835C3B; }
    .button.button-brown.button-outline.active, .button.button-brown.button-outline.activated {
      background-color: #FFFF00;
      box-shadow: none;
      color: #fff; }

.angular-google-map-container {
  width: 100%;
  height: 100%;
  /*padding-bottom: 164%;*/
}

.cf {
  zoom: 1; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.custom-indicator span {
  transition: all 0.2s ease-out; }

.custom-indicator span.active {
  color: yellow !important; }

#map-summary {
  width: 100%;
  height: 0;
  padding-bottom: 164%;
}

#map_details {
  width: 100%;
  /*height: 0;*/
  /*padding-bottom: 164%;*/
}/*# sourceMappingURL=main.css.map */
