<!--###########################################################################
#                                                                              #
#                                                                              #
#                            A U T H E N T I C A T E                           #
#                                                                              #
#                                                                              #
############################################################################ -->

<div ng-controller="AuthCtrl" class="list-inset item-image">
    <!-- Select entity -->
    <div class="item item-image row">
      <span class="col" ng-repeat="site in sites">
        <button class="button button-block button-outline button-{{orgTypeStuff.colors[$index]}}"
                ng-show="chosenOrgTypeId != $index"
                ng-click="setOrgTypeId($index)">{{orgTypeStuff.names[$index]}}</button>
        <button class="button button-block button-{{orgTypeStuff.colors[$index]}}"
                ng-show="chosenOrgTypeId == $index"
                ng-click="setOrgTypeId($index)">{{orgTypeStuff.names[$index]}}</button>
      </span>
    </div>
    <div class="item row {{orgTypeStuff.colors[chosenOrgTypeId]}}">
      <!-- <span class="col col-10"></span> -->
      <span class="col"
            ng-repeat="site in sites[chosenOrgTypeId]">
        <img ng-src="{{imgFilepaths[chosenOrgTypeId]}}{{site.filename}}"
             ng-click="setSiteId(site.iid)" />
      </span>
    </div>

  <!-- Chosen Site -->
  <div class="item item-icon-right item-{{orgTypeStuff.colors[chosenOrgTypeId]}}">
    <span ng-class="item-text-wrap">{{sites[chosenOrgTypeId][chosenSiteId].name}}</span>
    <i class="item-avatar-right">
      <img ng-src={{imgFilepaths[chosenOrgTypeId]}}{{sites[chosenOrgTypeId][chosenSiteId].filename}} />
    </i>
  </div>

  <!-- Users -->
  <div class="card">
    <span ng-repeat="user in users[chosenOrgTypeId] | chosenUser : chosenSiteId"
          ng-click="login(user, rememberMe)"
          class="item item-icon-right">
      <span class={{orgTypeStuff.colors[chosenOrgTypeId]}}>{{user.name.first}} {{user.name.last}}</span>
      <i class="item-avatar-right">
        <img ng-src={{imgFilepathUser}}{{user.filename}} />
      </i>
    </span>
  </div>
</div>