<!-- ###########################################################################
#                                                                              #
#                                                                              #
#                               D E T A I L S                                  #
#                                                                              #
#                                                                              #
############################################################################ -->
<div ng-controller="DetailsCtrl">
  
  <!-- MAIN -->
  <div id='reqDetails' ng-if="request"
                       ng-show="subViews['main']">
    <div client model='request.clients' distance='distance' class="row"></div>
    <div status class="item item-inset item-dark"
                ng-if="$last"
                ng-repeat="status in request.statuses | statusByOrgType: 'read': 'statusId'">
    </div>
<!--     <div next-statuses class='item-body'
                        chosen-status-id='chosenStatusId'
                        model='request'
                        ng-show='statusSetVisibility'
                        visibility-status='statusSetVisibility'>
    </div> -->
    <div init-status-update class="item-body"
                            model='request'
                            ng-if="request"
                            ng-show='statusVisible'
                            status-visible='statusVisible'>
    </div>
    <div sliding-pics model='request.pics' class="item item-image item-dark"></div>
    <div vehicle-options class='list'
                          model='request'
                          v-copy='vCopy'
                          theme-color={{themeColor}}
                          chosen-pic-type='chosenPicType'>
    </div>
    <div status-history model='request.statuses'
                        method='switchView(view)'
                        theme-color={{themeColor}}
                        title='Request History'>
    </div>
  </div>
  <!-- VEHICLE INFO INPUT subview -->
  <div assisted-input ng-if="chosenPicType.id == 0"
                      model="vCopy.vin"
                      ng-show="subViews['assistedInput']"
                      chosen-pic-type="chosenPicType"
                      v-copy="vCopy">
  </div>
  <div assisted-input ng-if="chosenPicType.id == 1"
                      model="vCopy.licensePlate.number"
                      ng-show="subViews['assistedInput']"
                      chosen-pic-type="chosenPicType"
                      v-copy="vCopy">
  </div>

  <!-- OWNER SIGNATURE -->
  <!-- <signature class="view cf" ng-show='views["signature"]'></signature> -->

  <!-- STATUSES -->
  <!-- <div ng-if="views['showStatus']" class="view">
    <div class="icon-close" style="font-size:2em" ng-click="switchView('main')" style="border-bottom:1px solid {{tc}};"></div>
    <div style='font-size:2em;color:{{tc}};'>{{chosenStatus.statusId | statusUIName}}</div>
    <div style="padding:4px 0px;">
      <div style="padding:0px 3px 0px 0px;float:left;">
        <img ng-src='{{buildStorageFileUrl("emps", "Mini", "download")}}' />
      </div>
      <div style="padding:0px 3px;">
        <div style="font-size:1.2em;">{{chosenStatus.empDuty.emp.name.first}} {{chosenStatus.empDuty.emp.name.last}}</div>
        <div style="font-size:1em;">{{chosenStatus.empDuty.emp.phone}}</div>
        <div style="font-size:1em;">{{chosenStatus.timestamp | date:'short'}}</div>   
      </div>
    </div><br />
    <div ng-if='chosenStatus.notes'>
      <b>Notes:</b>
      {{chosenStatus.notes}}
    </div>
    <div ng-if='chosenStatus.medias.length > 0'>
      <b>Media:</b> -->
      <!-- <media status-entries='[chosenStatus]' vehicle-images='vehicleImages'></media> -->
  <!--     <media model='request'></media>
    </div>
  </div> -->
</div>