<!-- ###########################################################################
#                                                                              #
#                                                                              #
#                                C R E A T E                                   #
#                                                                              #
#                                                                              #
############################################################################ -->
<div ng-controller="ModalCtrl" class="list list-inset">
  <!-- WORKFLOW INDICATORS -->
  <create ng-if="subViews['create']" my-sites="mySites"></create>
  <profile ng-if="subViews['profile'] && mySites"></profile>
  <div set-status ng-if="subViews['setStatus'] && mySites"></div>
</div>