<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">

  <title><%= yield.viewName %></title>

  <link rel="stylesheet" href="/app/Common/stylesheets/application.min.css" />
  <link rel="stylesheet" href="/components/supersonic/css/supersonic.min.css" />
  <link rel="import" href="/components/supersonic/components/import.html" />
  <!-- <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="/components/angular-material/angular-material.min.css" />
  <!-- <link rel="stylesheet" href="/components/bootstrap-additions/dist/bootstrap-additions.css" /> -->
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOJ-dkcU-lwAdfUT4nywV1qrp-RdxwP44&sensor=true"></script>
  <!-- <script src="/components/es5-shim/es5-shim.js"></script> -->
  
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/lodash/lodash.min.js"></script>
  <script src="/components/momentjs/min/moment.min.js"></script>
<!-- <script src="/components/signature-pad/assets/flashcanvas.js"></script>
  <script src="/components/signature-pad/assets/json2.js"></script> -->
  <script src="/components/firebase/firebase.min.js"></script>
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-animate/angular-animate.min.js"></script>
  <script src="/components/angular-aria/angular-aria.min.js"></script>
  <script src="/components/angular-material/angular-material.min.js"></script>
  <script src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
  <!--  <script src="/components/angular-touch/angular-touch.js"></script> -->
  <script src="/components/angularfire/dist/angularfire.min.js"></script>
  <script src="/components/ngCordova/dist/ng-cordova.min.js"></script>
  <!-- <script src="/components/angular-strap/src/helpers/date-parser.js"></script>
  <script src="/components/angular-strap/src/helpers/dimensions.js"></script>
  <script src="/components/angular-strap/dist/angular-strap.js"></script>
  <script src="/components/angular-strap/dist/angular-strap.tpl.js"></script> -->
  <script src="http://localhost/cordova_merged.min.js"></script>
  <script src="/components/steroids-js/steroids.min.js"></script>
  <script src="/components/supersonic/supersonic.min.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.min.js"></script>

  <% _.each(yield.modules, function(module) { %>
  <script src="/app/<%= module %>.js"></script>
  <% }); %>
</head>
<body ng-app="<%= yield.moduleName %>">

<%= yield.view %>

</body>
</html>