<!-- ###########################################################################
#                                                                              #
#                                                                              #
#                               S U M M A R Y                                  #
#                                                                              #
#                                                                              #
############################################################################ -->

<div ng-controller="SummaryCtrl">
  <div menu></div>
  <div user class="item item-{{themeColor}}" model="userInfo"></div>
  <button ng-click="test()">test</button>
  <div ng-if="requests" class="list card"
                        ng-show="subViews['main']"
                        ng-repeat="req in requests"
                        ng-click="openDetails(req)">
    <div client model="req.clients" distance="distances[$index]" class="row item-stable"></div>
    <!-- <div sliding-pics model="req.pics" class="item-image"></div> -->
    <div status class="item item-inset item-dark item-divider"
                ng-if="$last"
                ng-repeat="status in req.statuses | statusByOrgType: 'read': 'statusId'">
    </div>
  </div>

<!--   <div map ng-if="requests"
            model="requests"
            id="map-summary"
            ng-show="subViews['map']"
            constituent-sites="constituentSites"
            employer-sites="employerSites">
  </div> -->
  <div class="list" ng-show="subViews['icons']">
    <a class="item item-icon-left" href="#"><i class="icon super-alert"></i>super-alert</a>
    <a class="item item-icon-left" href="#"><i class="icon super-alert-circled"></i>super-alert-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-add"></i>super-android-add</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-add-contact"></i>super-android-add-contact</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-alarm"></i>super-android-alarm</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-archive"></i>super-android-archive</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-arrow-back"></i>super-android-arrow-back</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-arrow-down-left"></i>super-android-arrow-down-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-arrow-down-right"></i>super-android-arrow-down-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-arrow-forward"></i>super-android-arrow-forward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-arrow-up-left"></i>super-android-arrow-up-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-arrow-up-right"></i>super-android-arrow-up-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-battery"></i>super-android-battery</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-book"></i>super-android-book</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-calendar"></i>super-android-calendar</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-call"></i>super-android-call</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-camera"></i>super-android-camera</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-chat"></i>super-android-chat</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-checkmark"></i>super-android-checkmark</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-clock"></i>super-android-clock</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-close"></i>super-android-close</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-contact"></i>super-android-contact</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-contacts"></i>super-android-contacts</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-data"></i>super-android-data</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-developer"></i>super-android-developer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-display"></i>super-android-display</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-download"></i>super-android-download</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-drawer"></i>super-android-drawer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-dropdown"></i>super-android-dropdown</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-earth"></i>super-android-earth</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-folder"></i>super-android-folder</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-forums"></i>super-android-forums</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-friends"></i>super-android-friends</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-hand"></i>super-android-hand</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-image"></i>super-android-image</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-inbox"></i>super-android-inbox</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-information"></i>super-android-information</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-keypad"></i>super-android-keypad</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-lightbulb"></i>super-android-lightbulb</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-locate"></i>super-android-locate</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-location"></i>super-android-location</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-mail"></i>super-android-mail</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-microphone"></i>super-android-microphone</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-mixer"></i>super-android-mixer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-more"></i>super-android-more</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-note"></i>super-android-note</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-playstore"></i>super-android-playstore</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-printer"></i>super-android-printer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-promotion"></i>super-android-promotion</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-reminder"></i>super-android-reminder</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-remove"></i>super-android-remove</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-search"></i>super-android-search</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-send"></i>super-android-send</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-settings"></i>super-android-settings</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-share"></i>super-android-share</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-social"></i>super-android-social</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-social-user"></i>super-android-social-user</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-sort"></i>super-android-sort</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-stair-drawer"></i>super-android-stair-drawer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-star"></i>super-android-star</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-stopwatch"></i>super-android-stopwatch</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-storage"></i>super-android-storage</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-system-back"></i>super-android-system-back</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-system-home"></i>super-android-system-home</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-system-windows"></i>super-android-system-windows</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-timer"></i>super-android-timer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-trash"></i>super-android-trash</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-user-menu"></i>super-android-user-menu</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-volume"></i>super-android-volume</a>
    <a class="item item-icon-left" href="#"><i class="icon super-android-wifi"></i>super-android-wifi</a>
    <a class="item item-icon-left" href="#"><i class="icon super-aperture"></i>super-aperture</a>
    <a class="item item-icon-left" href="#"><i class="icon super-archive"></i>super-archive</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-down-a"></i>super-arrow-down-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-down-b"></i>super-arrow-down-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-down-c"></i>super-arrow-down-c</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-expand"></i>super-arrow-expand</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-graph-down-left"></i>super-arrow-graph-down-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-graph-down-right"></i>super-arrow-graph-down-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-graph-up-left"></i>super-arrow-graph-up-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-graph-up-right"></i>super-arrow-graph-up-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-left-a"></i>super-arrow-left-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-left-b"></i>super-arrow-left-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-left-c"></i>super-arrow-left-c</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-move"></i>super-arrow-move</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-resize"></i>super-arrow-resize</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-return-left"></i>super-arrow-return-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-return-right"></i>super-arrow-return-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-right-a"></i>super-arrow-right-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-right-b"></i>super-arrow-right-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-right-c"></i>super-arrow-right-c</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-shrink"></i>super-arrow-shrink</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-swap"></i>super-arrow-swap</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-up-a"></i>super-arrow-up-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-up-b"></i>super-arrow-up-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-arrow-up-c"></i>super-arrow-up-c</a>
    <a class="item item-icon-left" href="#"><i class="icon super-asterisk"></i>super-asterisk</a>
    <a class="item item-icon-left" href="#"><i class="icon super-at"></i>super-at</a>
    <a class="item item-icon-left" href="#"><i class="icon super-bag"></i>super-bag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-battery-charging"></i>super-battery-charging</a>
    <a class="item item-icon-left" href="#"><i class="icon super-battery-empty"></i>super-battery-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-battery-full"></i>super-battery-full</a>
    <a class="item item-icon-left" href="#"><i class="icon super-battery-half"></i>super-battery-half</a>
    <a class="item item-icon-left" href="#"><i class="icon super-battery-low"></i>super-battery-low</a>
    <a class="item item-icon-left" href="#"><i class="icon super-beaker"></i>super-beaker</a>
    <a class="item item-icon-left" href="#"><i class="icon super-beer"></i>super-beer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-bluetooth"></i>super-bluetooth</a>
    <a class="item item-icon-left" href="#"><i class="icon super-bonfire"></i>super-bonfire</a>
    <a class="item item-icon-left" href="#"><i class="icon super-bookmark"></i>super-bookmark</a>
    <a class="item item-icon-left" href="#"><i class="icon super-briefcase"></i>super-briefcase</a>
    <a class="item item-icon-left" href="#"><i class="icon super-bug"></i>super-bug</a>
    <a class="item item-icon-left" href="#"><i class="icon super-calculator"></i>super-calculator</a>
    <a class="item item-icon-left" href="#"><i class="icon super-calendar"></i>super-calendar</a>
    <a class="item item-icon-left" href="#"><i class="icon super-camera"></i>super-camera</a>
    <a class="item item-icon-left" href="#"><i class="icon super-card"></i>super-card</a>
    <a class="item item-icon-left" href="#"><i class="icon super-cash"></i>super-cash</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chatbox"></i>super-chatbox</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chatbox-working"></i>super-chatbox-working</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chatboxes"></i>super-chatboxes</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chatbubble"></i>super-chatbubble</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chatbubble-working"></i>super-chatbubble-working</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chatbubbles"></i>super-chatbubbles</a>
    <a class="item item-icon-left" href="#"><i class="icon super-checkmark"></i>super-checkmark</a>
    <a class="item item-icon-left" href="#"><i class="icon super-checkmark-circled"></i>super-checkmark-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-checkmark-round"></i>super-checkmark-round</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chevron-down"></i>super-chevron-down</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chevron-left"></i>super-chevron-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chevron-right"></i>super-chevron-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-chevron-up"></i>super-chevron-up</a>
    <a class="item item-icon-left" href="#"><i class="icon super-clipboard"></i>super-clipboard</a>
    <a class="item item-icon-left" href="#"><i class="icon super-clock"></i>super-clock</a>
    <a class="item item-icon-left" href="#"><i class="icon super-close"></i>super-close</a>
    <a class="item item-icon-left" href="#"><i class="icon super-close-circled"></i>super-close-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-close-round"></i>super-close-round</a>
    <a class="item item-icon-left" href="#"><i class="icon super-closed-captioning"></i>super-closed-captioning</a>
    <a class="item item-icon-left" href="#"><i class="icon super-cloud"></i>super-cloud</a>
    <a class="item item-icon-left" href="#"><i class="icon super-code"></i>super-code</a>
    <a class="item item-icon-left" href="#"><i class="icon super-code-download"></i>super-code-download</a>
    <a class="item item-icon-left" href="#"><i class="icon super-code-working"></i>super-code-working</a>
    <a class="item item-icon-left" href="#"><i class="icon super-coffee"></i>super-coffee</a>
    <a class="item item-icon-left" href="#"><i class="icon super-compass"></i>super-compass</a>
    <a class="item item-icon-left" href="#"><i class="icon super-compose"></i>super-compose</a>
    <a class="item item-icon-left" href="#"><i class="icon super-connection-bars"></i>super-connection-bars</a>
    <a class="item item-icon-left" href="#"><i class="icon super-contrast"></i>super-contrast</a>
    <a class="item item-icon-left" href="#"><i class="icon super-cube"></i>super-cube</a>
    <a class="item item-icon-left" href="#"><i class="icon super-disc"></i>super-disc</a>
    <a class="item item-icon-left" href="#"><i class="icon super-document"></i>super-document</a>
    <a class="item item-icon-left" href="#"><i class="icon super-document-text"></i>super-document-text</a>
    <a class="item item-icon-left" href="#"><i class="icon super-drag"></i>super-drag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-earth"></i>super-earth</a>
    <a class="item item-icon-left" href="#"><i class="icon super-edit"></i>super-edit</a>
    <a class="item item-icon-left" href="#"><i class="icon super-egg"></i>super-egg</a>
    <a class="item item-icon-left" href="#"><i class="icon super-eject"></i>super-eject</a>
    <a class="item item-icon-left" href="#"><i class="icon super-email"></i>super-email</a>
    <a class="item item-icon-left" href="#"><i class="icon super-eye"></i>super-eye</a>
    <a class="item item-icon-left" href="#"><i class="icon super-eye-disabled"></i>super-eye-disabled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-female"></i>super-female</a>
    <a class="item item-icon-left" href="#"><i class="icon super-filing"></i>super-filing</a>
    <a class="item item-icon-left" href="#"><i class="icon super-film-marker"></i>super-film-marker</a>
    <a class="item item-icon-left" href="#"><i class="icon super-fireball"></i>super-fireball</a>
    <a class="item item-icon-left" href="#"><i class="icon super-flag"></i>super-flag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-flame"></i>super-flame</a>
    <a class="item item-icon-left" href="#"><i class="icon super-flash"></i>super-flash</a>
    <a class="item item-icon-left" href="#"><i class="icon super-flash-off"></i>super-flash-off</a>
    <a class="item item-icon-left" href="#"><i class="icon super-flask"></i>super-flask</a>
    <a class="item item-icon-left" href="#"><i class="icon super-folder"></i>super-folder</a>
    <a class="item item-icon-left" href="#"><i class="icon super-fork"></i>super-fork</a>
    <a class="item item-icon-left" href="#"><i class="icon super-fork-repo"></i>super-fork-repo</a>
    <a class="item item-icon-left" href="#"><i class="icon super-forward"></i>super-forward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-funnel"></i>super-funnel</a>
    <a class="item item-icon-left" href="#"><i class="icon super-game-controller-a"></i>super-game-controller-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-game-controller-b"></i>super-game-controller-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-gear-a"></i>super-gear-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-gear-b"></i>super-gear-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-grid"></i>super-grid</a>
    <a class="item item-icon-left" href="#"><i class="icon super-hammer"></i>super-hammer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-happy"></i>super-happy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-headphone"></i>super-headphone</a>
    <a class="item item-icon-left" href="#"><i class="icon super-heart"></i>super-heart</a>
    <a class="item item-icon-left" href="#"><i class="icon super-heart-broken"></i>super-heart-broken</a>
    <a class="item item-icon-left" href="#"><i class="icon super-help"></i>super-help</a>
    <a class="item item-icon-left" href="#"><i class="icon super-help-buoy"></i>super-help-buoy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-help-circled"></i>super-help-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-home"></i>super-home</a>
    <a class="item item-icon-left" href="#"><i class="icon super-icecream"></i>super-icecream</a>
    <a class="item item-icon-left" href="#"><i class="icon super-icon-social-google-plus"></i>super-icon-social-google-plus</a>
    <a class="item item-icon-left" href="#"><i class="icon super-icon-social-google-plus-outline"></i>super-icon-social-google-plus-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-image"></i>super-image</a>
    <a class="item item-icon-left" href="#"><i class="icon super-images"></i>super-images</a>
    <a class="item item-icon-left" href="#"><i class="icon super-information"></i>super-information</a>
    <a class="item item-icon-left" href="#"><i class="icon super-information-circled"></i>super-information-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ionic"></i>super-ionic</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-alarm"></i>super-ios7-alarm</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-alarm-outline"></i>super-ios7-alarm-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-albums"></i>super-ios7-albums</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-albums-outline"></i>super-ios7-albums-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-americanfootball"></i>super-ios7-americanfootball</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-americanfootball-outline"></i>super-ios7-americanfootball-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-analytics"></i>super-ios7-analytics</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-analytics-outline"></i>super-ios7-analytics-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-back"></i>super-ios7-arrow-back</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-down"></i>super-ios7-arrow-down</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-forward"></i>super-ios7-arrow-forward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-left"></i>super-ios7-arrow-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-right"></i>super-ios7-arrow-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-thin-down"></i>super-ios7-arrow-thin-down</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-thin-left"></i>super-ios7-arrow-thin-left</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-thin-right"></i>super-ios7-arrow-thin-right</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-thin-up"></i>super-ios7-arrow-thin-up</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-arrow-up"></i>super-ios7-arrow-up</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-at"></i>super-ios7-at</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-at-outline"></i>super-ios7-at-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-barcode"></i>super-ios7-barcode</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-barcode-outline"></i>super-ios7-barcode-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-baseball"></i>super-ios7-baseball</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-baseball-outline"></i>super-ios7-baseball-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-basketball"></i>super-ios7-basketball</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-basketball-outline"></i>super-ios7-basketball-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-bell"></i>super-ios7-bell</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-bell-outline"></i>super-ios7-bell-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-bolt"></i>super-ios7-bolt</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-bolt-outline"></i>super-ios7-bolt-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-bookmarks"></i>super-ios7-bookmarks</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-bookmarks-outline"></i>super-ios7-bookmarks-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-box"></i>super-ios7-box</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-box-outline"></i>super-ios7-box-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-briefcase"></i>super-ios7-briefcase</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-briefcase-outline"></i>super-ios7-briefcase-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-browsers"></i>super-ios7-browsers</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-browsers-outline"></i>super-ios7-browsers-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-calculator"></i>super-ios7-calculator</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-calculator-outline"></i>super-ios7-calculator-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-calendar"></i>super-ios7-calendar</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-calendar-outline"></i>super-ios7-calendar-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-camera"></i>super-ios7-camera</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-camera-outline"></i>super-ios7-camera-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cart"></i>super-ios7-cart</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cart-outline"></i>super-ios7-cart-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-chatboxes"></i>super-ios7-chatboxes</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-chatboxes-outline"></i>super-ios7-chatboxes-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-chatbubble"></i>super-ios7-chatbubble</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-chatbubble-outline"></i>super-ios7-chatbubble-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-checkmark"></i>super-ios7-checkmark</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-checkmark-empty"></i>super-ios7-checkmark-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-checkmark-outline"></i>super-ios7-checkmark-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-circle-filled"></i>super-ios7-circle-filled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-circle-outline"></i>super-ios7-circle-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-clock"></i>super-ios7-clock</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-clock-outline"></i>super-ios7-clock-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-close"></i>super-ios7-close</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-close-empty"></i>super-ios7-close-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-close-outline"></i>super-ios7-close-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloud"></i>super-ios7-cloud</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloud-download"></i>super-ios7-cloud-download</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloud-download-outline"></i>super-ios7-cloud-download-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloud-outline"></i>super-ios7-cloud-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloud-upload"></i>super-ios7-cloud-upload</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloud-upload-outline"></i>super-ios7-cloud-upload-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloudy"></i>super-ios7-cloudy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloudy-night"></i>super-ios7-cloudy-night</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloudy-night-outline"></i>super-ios7-cloudy-night-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cloudy-outline"></i>super-ios7-cloudy-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cog"></i>super-ios7-cog</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-cog-outline"></i>super-ios7-cog-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-compose"></i>super-ios7-compose</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-compose-outline"></i>super-ios7-compose-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-contact"></i>super-ios7-contact</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-contact-outline"></i>super-ios7-contact-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-copy"></i>super-ios7-copy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-copy-outline"></i>super-ios7-copy-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-download"></i>super-ios7-download</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-download-outline"></i>super-ios7-download-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-drag"></i>super-ios7-drag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-email"></i>super-ios7-email</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-email-outline"></i>super-ios7-email-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-expand"></i>super-ios7-expand</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-eye"></i>super-ios7-eye</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-eye-outline"></i>super-ios7-eye-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-fastforward"></i>super-ios7-fastforward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-fastforward-outline"></i>super-ios7-fastforward-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-filing"></i>super-ios7-filing</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-filing-outline"></i>super-ios7-filing-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-film"></i>super-ios7-film</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-film-outline"></i>super-ios7-film-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-flag"></i>super-ios7-flag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-flag-outline"></i>super-ios7-flag-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-folder"></i>super-ios7-folder</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-folder-outline"></i>super-ios7-folder-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-football"></i>super-ios7-football</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-football-outline"></i>super-ios7-football-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-gear"></i>super-ios7-gear</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-gear-outline"></i>super-ios7-gear-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-glasses"></i>super-ios7-glasses</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-glasses-outline"></i>super-ios7-glasses-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-heart"></i>super-ios7-heart</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-heart-outline"></i>super-ios7-heart-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-help"></i>super-ios7-help</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-help-empty"></i>super-ios7-help-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-help-outline"></i>super-ios7-help-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-home"></i>super-ios7-home</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-home-outline"></i>super-ios7-home-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-infinite"></i>super-ios7-infinite</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-infinite-outline"></i>super-ios7-infinite-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-information"></i>super-ios7-information</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-information-empty"></i>super-ios7-information-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-information-outline"></i>super-ios7-information-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-ionic-outline"></i>super-ios7-ionic-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-keypad"></i>super-ios7-keypad</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-keypad-outline"></i>super-ios7-keypad-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-lightbulb"></i>super-ios7-lightbulb</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-lightbulb-outline"></i>super-ios7-lightbulb-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-location"></i>super-ios7-location</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-location-outline"></i>super-ios7-location-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-locked"></i>super-ios7-locked</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-locked-outline"></i>super-ios7-locked-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-loop"></i>super-ios7-loop</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-loop-strong"></i>super-ios7-loop-strong</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-medkit"></i>super-ios7-medkit</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-medkit-outline"></i>super-ios7-medkit-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-mic"></i>super-ios7-mic</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-mic-off"></i>super-ios7-mic-off</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-mic-outline"></i>super-ios7-mic-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-minus"></i>super-ios7-minus</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-minus-empty"></i>super-ios7-minus-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-minus-outline"></i>super-ios7-minus-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-monitor"></i>super-ios7-monitor</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-monitor-outline"></i>super-ios7-monitor-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-moon"></i>super-ios7-moon</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-moon-outline"></i>super-ios7-moon-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-more"></i>super-ios7-more</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-more-outline"></i>super-ios7-more-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-musical-note"></i>super-ios7-musical-note</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-musical-notes"></i>super-ios7-musical-notes</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-navigate"></i>super-ios7-navigate</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-navigate-outline"></i>super-ios7-navigate-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-paper"></i>super-ios7-paper</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-paper-outline"></i>super-ios7-paper-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-paperplane"></i>super-ios7-paperplane</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-paperplane-outline"></i>super-ios7-paperplane-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-partlysunny"></i>super-ios7-partlysunny</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-partlysunny-outline"></i>super-ios7-partlysunny-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pause"></i>super-ios7-pause</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pause-outline"></i>super-ios7-pause-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-paw"></i>super-ios7-paw</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-paw-outline"></i>super-ios7-paw-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-people"></i>super-ios7-people</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-people-outline"></i>super-ios7-people-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-person"></i>super-ios7-person</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-person-outline"></i>super-ios7-person-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-personadd"></i>super-ios7-personadd</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-personadd-outline"></i>super-ios7-personadd-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-photos"></i>super-ios7-photos</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-photos-outline"></i>super-ios7-photos-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pie"></i>super-ios7-pie</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pie-outline"></i>super-ios7-pie-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-play"></i>super-ios7-play</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-play-outline"></i>super-ios7-play-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-plus"></i>super-ios7-plus</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-plus-empty"></i>super-ios7-plus-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-plus-outline"></i>super-ios7-plus-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pricetag"></i>super-ios7-pricetag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pricetag-outline"></i>super-ios7-pricetag-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pricetags"></i>super-ios7-pricetags</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pricetags-outline"></i>super-ios7-pricetags-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-printer"></i>super-ios7-printer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-printer-outline"></i>super-ios7-printer-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pulse"></i>super-ios7-pulse</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-pulse-strong"></i>super-ios7-pulse-strong</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-rainy"></i>super-ios7-rainy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-rainy-outline"></i>super-ios7-rainy-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-recording"></i>super-ios7-recording</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-recording-outline"></i>super-ios7-recording-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-redo"></i>super-ios7-redo</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-redo-outline"></i>super-ios7-redo-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-refresh"></i>super-ios7-refresh</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-refresh-empty"></i>super-ios7-refresh-empty</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-refresh-outline"></i>super-ios7-refresh-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-reload:before, super-ios7-reloading"></i>super-ios7-reload:before, super-ios7-reloading</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-reverse-camera"></i>super-ios7-reverse-camera</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-reverse-camera-outline"></i>super-ios7-reverse-camera-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-rewind"></i>super-ios7-rewind</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-rewind-outline"></i>super-ios7-rewind-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-search"></i>super-ios7-search</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-search-strong"></i>super-ios7-search-strong</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-settings"></i>super-ios7-settings</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-settings-strong"></i>super-ios7-settings-strong</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-shrink"></i>super-ios7-shrink</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-skipbackward"></i>super-ios7-skipbackward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-skipbackward-outline"></i>super-ios7-skipbackward-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-skipforward"></i>super-ios7-skipforward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-skipforward-outline"></i>super-ios7-skipforward-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-snowy"></i>super-ios7-snowy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-speedometer"></i>super-ios7-speedometer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-speedometer-outline"></i>super-ios7-speedometer-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-star"></i>super-ios7-star</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-star-half"></i>super-ios7-star-half</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-star-outline"></i>super-ios7-star-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-stopwatch"></i>super-ios7-stopwatch</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-stopwatch-outline"></i>super-ios7-stopwatch-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-sunny"></i>super-ios7-sunny</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-sunny-outline"></i>super-ios7-sunny-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-telephone"></i>super-ios7-telephone</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-telephone-outline"></i>super-ios7-telephone-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-tennisball"></i>super-ios7-tennisball</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-tennisball-outline"></i>super-ios7-tennisball-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-thunderstorm"></i>super-ios7-thunderstorm</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-thunderstorm-outline"></i>super-ios7-thunderstorm-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-time"></i>super-ios7-time</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-time-outline"></i>super-ios7-time-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-timer"></i>super-ios7-timer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-timer-outline"></i>super-ios7-timer-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-toggle"></i>super-ios7-toggle</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-toggle-outline"></i>super-ios7-toggle-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-trash"></i>super-ios7-trash</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-trash-outline"></i>super-ios7-trash-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-undo"></i>super-ios7-undo</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-undo-outline"></i>super-ios7-undo-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-unlocked"></i>super-ios7-unlocked</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-unlocked-outline"></i>super-ios7-unlocked-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-upload"></i>super-ios7-upload</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-upload-outline"></i>super-ios7-upload-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-videocam"></i>super-ios7-videocam</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-videocam-outline"></i>super-ios7-videocam-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-volume-high"></i>super-ios7-volume-high</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-volume-low"></i>super-ios7-volume-low</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-wineglass"></i>super-ios7-wineglass</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-wineglass-outline"></i>super-ios7-wineglass-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-world"></i>super-ios7-world</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ios7-world-outline"></i>super-ios7-world-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ipad"></i>super-ipad</a>
    <a class="item item-icon-left" href="#"><i class="icon super-iphone"></i>super-iphone</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ipod"></i>super-ipod</a>
    <a class="item item-icon-left" href="#"><i class="icon super-jet"></i>super-jet</a>
    <a class="item item-icon-left" href="#"><i class="icon super-key"></i>super-key</a>
    <a class="item item-icon-left" href="#"><i class="icon super-knife"></i>super-knife</a>
    <a class="item item-icon-left" href="#"><i class="icon super-laptop"></i>super-laptop</a>
    <a class="item item-icon-left" href="#"><i class="icon super-leaf"></i>super-leaf</a>
    <a class="item item-icon-left" href="#"><i class="icon super-levels"></i>super-levels</a>
    <a class="item item-icon-left" href="#"><i class="icon super-lightbulb"></i>super-lightbulb</a>
    <a class="item item-icon-left" href="#"><i class="icon super-link"></i>super-link</a>
    <a class="item item-icon-left" href="#"><i class="icon super-load-a:before, super-loading-a"></i>super-load-a:before, super-loading-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-load-b:before, super-loading-b"></i>super-load-b:before, super-loading-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-load-c:before, super-loading-c"></i>super-load-c:before, super-loading-c</a>
    <a class="item item-icon-left" href="#"><i class="icon super-load-d:before, super-loading-d"></i>super-load-d:before, super-loading-d</a>
    <a class="item item-icon-left" href="#"><i class="icon super-location"></i>super-location</a>
    <a class="item item-icon-left" href="#"><i class="icon super-locked"></i>super-locked</a>
    <a class="item item-icon-left" href="#"><i class="icon super-log-in"></i>super-log-in</a>
    <a class="item item-icon-left" href="#"><i class="icon super-log-out"></i>super-log-out</a>
    <a class="item item-icon-left" href="#"><i class="icon super-loop:before, super-looping"></i>super-loop:before, super-looping</a>
    <a class="item item-icon-left" href="#"><i class="icon super-magnet"></i>super-magnet</a>
    <a class="item item-icon-left" href="#"><i class="icon super-male"></i>super-male</a>
    <a class="item item-icon-left" href="#"><i class="icon super-man"></i>super-man</a>
    <a class="item item-icon-left" href="#"><i class="icon super-map"></i>super-map</a>
    <a class="item item-icon-left" href="#"><i class="icon super-medkit"></i>super-medkit</a>
    <a class="item item-icon-left" href="#"><i class="icon super-merge"></i>super-merge</a>
    <a class="item item-icon-left" href="#"><i class="icon super-mic-a"></i>super-mic-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-mic-b"></i>super-mic-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-mic-c"></i>super-mic-c</a>
    <a class="item item-icon-left" href="#"><i class="icon super-minus"></i>super-minus</a>
    <a class="item item-icon-left" href="#"><i class="icon super-minus-circled"></i>super-minus-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-minus-round"></i>super-minus-round</a>
    <a class="item item-icon-left" href="#"><i class="icon super-model-s"></i>super-model-s</a>
    <a class="item item-icon-left" href="#"><i class="icon super-monitor"></i>super-monitor</a>
    <a class="item item-icon-left" href="#"><i class="icon super-more"></i>super-more</a>
    <a class="item item-icon-left" href="#"><i class="icon super-mouse"></i>super-mouse</a>
    <a class="item item-icon-left" href="#"><i class="icon super-music-note"></i>super-music-note</a>
    <a class="item item-icon-left" href="#"><i class="icon super-navicon"></i>super-navicon</a>
    <a class="item item-icon-left" href="#"><i class="icon super-navicon-round"></i>super-navicon-round</a>
    <a class="item item-icon-left" href="#"><i class="icon super-navigate"></i>super-navigate</a>
    <a class="item item-icon-left" href="#"><i class="icon super-network"></i>super-network</a>
    <a class="item item-icon-left" href="#"><i class="icon super-no-smoking"></i>super-no-smoking</a>
    <a class="item item-icon-left" href="#"><i class="icon super-nuclear"></i>super-nuclear</a>
    <a class="item item-icon-left" href="#"><i class="icon super-outlet"></i>super-outlet</a>
    <a class="item item-icon-left" href="#"><i class="icon super-paper-airplane"></i>super-paper-airplane</a>
    <a class="item item-icon-left" href="#"><i class="icon super-paperclip"></i>super-paperclip</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pause"></i>super-pause</a>
    <a class="item item-icon-left" href="#"><i class="icon super-person"></i>super-person</a>
    <a class="item item-icon-left" href="#"><i class="icon super-person-add"></i>super-person-add</a>
    <a class="item item-icon-left" href="#"><i class="icon super-person-stalker"></i>super-person-stalker</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pie-graph"></i>super-pie-graph</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pin"></i>super-pin</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pinpoint"></i>super-pinpoint</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pizza"></i>super-pizza</a>
    <a class="item item-icon-left" href="#"><i class="icon super-plane"></i>super-plane</a>
    <a class="item item-icon-left" href="#"><i class="icon super-planet"></i>super-planet</a>
    <a class="item item-icon-left" href="#"><i class="icon super-play"></i>super-play</a>
    <a class="item item-icon-left" href="#"><i class="icon super-playstation"></i>super-playstation</a>
    <a class="item item-icon-left" href="#"><i class="icon super-plus"></i>super-plus</a>
    <a class="item item-icon-left" href="#"><i class="icon super-plus-circled"></i>super-plus-circled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-plus-round"></i>super-plus-round</a>
    <a class="item item-icon-left" href="#"><i class="icon super-podium"></i>super-podium</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pound"></i>super-pound</a>
    <a class="item item-icon-left" href="#"><i class="icon super-power"></i>super-power</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pricetag"></i>super-pricetag</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pricetags"></i>super-pricetags</a>
    <a class="item item-icon-left" href="#"><i class="icon super-printer"></i>super-printer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-pull-request"></i>super-pull-request</a>
    <a class="item item-icon-left" href="#"><i class="icon super-qr-scanner"></i>super-qr-scanner</a>
    <a class="item item-icon-left" href="#"><i class="icon super-quote"></i>super-quote</a>
    <a class="item item-icon-left" href="#"><i class="icon super-radio-waves"></i>super-radio-waves</a>
    <a class="item item-icon-left" href="#"><i class="icon super-record"></i>super-record</a>
    <a class="item item-icon-left" href="#"><i class="icon super-refresh:before, super-refreshing"></i>super-refresh:before, super-refreshing</a>
    <a class="item item-icon-left" href="#"><i class="icon super-reply"></i>super-reply</a>
    <a class="item item-icon-left" href="#"><i class="icon super-reply-all"></i>super-reply-all</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ribbon-a"></i>super-ribbon-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-ribbon-b"></i>super-ribbon-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-sad"></i>super-sad</a>
    <a class="item item-icon-left" href="#"><i class="icon super-scissors"></i>super-scissors</a>
    <a class="item item-icon-left" href="#"><i class="icon super-search"></i>super-search</a>
    <a class="item item-icon-left" href="#"><i class="icon super-settings"></i>super-settings</a>
    <a class="item item-icon-left" href="#"><i class="icon super-share"></i>super-share</a>
    <a class="item item-icon-left" href="#"><i class="icon super-shuffle"></i>super-shuffle</a>
    <a class="item item-icon-left" href="#"><i class="icon super-skip-backward"></i>super-skip-backward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-skip-forward"></i>super-skip-forward</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-android"></i>super-social-android</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-android-outline"></i>super-social-android-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-apple"></i>super-social-apple</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-apple-outline"></i>super-social-apple-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-bitcoin"></i>super-social-bitcoin</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-bitcoin-outline"></i>super-social-bitcoin-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-buffer"></i>super-social-buffer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-buffer-outline"></i>super-social-buffer-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-designernews"></i>super-social-designernews</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-designernews-outline"></i>super-social-designernews-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-dribbble"></i>super-social-dribbble</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-dribbble-outline"></i>super-social-dribbble-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-dropbox"></i>super-social-dropbox</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-dropbox-outline"></i>super-social-dropbox-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-facebook"></i>super-social-facebook</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-facebook-outline"></i>super-social-facebook-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-foursquare"></i>super-social-foursquare</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-foursquare-outline"></i>super-social-foursquare-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-freebsd-devil"></i>super-social-freebsd-devil</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-github"></i>super-social-github</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-github-outline"></i>super-social-github-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-google"></i>super-social-google</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-google-outline"></i>super-social-google-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-googleplus"></i>super-social-googleplus</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-googleplus-outline"></i>super-social-googleplus-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-hackernews"></i>super-social-hackernews</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-hackernews-outline"></i>super-social-hackernews-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-instagram"></i>super-social-instagram</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-instagram-outline"></i>super-social-instagram-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-linkedin"></i>super-social-linkedin</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-linkedin-outline"></i>super-social-linkedin-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-pinterest"></i>super-social-pinterest</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-pinterest-outline"></i>super-social-pinterest-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-reddit"></i>super-social-reddit</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-reddit-outline"></i>super-social-reddit-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-rss"></i>super-social-rss</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-rss-outline"></i>super-social-rss-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-skype"></i>super-social-skype</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-skype-outline"></i>super-social-skype-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-tumblr"></i>super-social-tumblr</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-tumblr-outline"></i>super-social-tumblr-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-tux"></i>super-social-tux</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-twitter"></i>super-social-twitter</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-twitter-outline"></i>super-social-twitter-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-usd"></i>super-social-usd</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-usd-outline"></i>super-social-usd-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-vimeo"></i>super-social-vimeo</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-vimeo-outline"></i>super-social-vimeo-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-windows"></i>super-social-windows</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-windows-outline"></i>super-social-windows-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-wordpress"></i>super-social-wordpress</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-wordpress-outline"></i>super-social-wordpress-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-yahoo"></i>super-social-yahoo</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-yahoo-outline"></i>super-social-yahoo-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-youtube"></i>super-social-youtube</a>
    <a class="item item-icon-left" href="#"><i class="icon super-social-youtube-outline"></i>super-social-youtube-outline</a>
    <a class="item item-icon-left" href="#"><i class="icon super-speakerphone"></i>super-speakerphone</a>
    <a class="item item-icon-left" href="#"><i class="icon super-speedometer"></i>super-speedometer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-spoon"></i>super-spoon</a>
    <a class="item item-icon-left" href="#"><i class="icon super-star"></i>super-star</a>
    <a class="item item-icon-left" href="#"><i class="icon super-stats-bars"></i>super-stats-bars</a>
    <a class="item item-icon-left" href="#"><i class="icon super-steam"></i>super-steam</a>
    <a class="item item-icon-left" href="#"><i class="icon super-stop"></i>super-stop</a>
    <a class="item item-icon-left" href="#"><i class="icon super-thermometer"></i>super-thermometer</a>
    <a class="item item-icon-left" href="#"><i class="icon super-thumbsdown"></i>super-thumbsdown</a>
    <a class="item item-icon-left" href="#"><i class="icon super-thumbsup"></i>super-thumbsup</a>
    <a class="item item-icon-left" href="#"><i class="icon super-toggle"></i>super-toggle</a>
    <a class="item item-icon-left" href="#"><i class="icon super-toggle-filled"></i>super-toggle-filled</a>
    <a class="item item-icon-left" href="#"><i class="icon super-trash-a"></i>super-trash-a</a>
    <a class="item item-icon-left" href="#"><i class="icon super-trash-b"></i>super-trash-b</a>
    <a class="item item-icon-left" href="#"><i class="icon super-trophy"></i>super-trophy</a>
    <a class="item item-icon-left" href="#"><i class="icon super-umbrella"></i>super-umbrella</a>
    <a class="item item-icon-left" href="#"><i class="icon super-university"></i>super-university</a>
    <a class="item item-icon-left" href="#"><i class="icon super-unlocked"></i>super-unlocked</a>
    <a class="item item-icon-left" href="#"><i class="icon super-upload"></i>super-upload</a>
    <a class="item item-icon-left" href="#"><i class="icon super-usb"></i>super-usb</a>
    <a class="item item-icon-left" href="#"><i class="icon super-videocamera"></i>super-videocamera</a>
    <a class="item item-icon-left" href="#"><i class="icon super-volume-high"></i>super-volume-high</a>
    <a class="item item-icon-left" href="#"><i class="icon super-volume-low"></i>super-volume-low</a>
    <a class="item item-icon-left" href="#"><i class="icon super-volume-medium"></i>super-volume-medium</a>
    <a class="item item-icon-left" href="#"><i class="icon super-volume-mute"></i>super-volume-mute</a>
    <a class="item item-icon-left" href="#"><i class="icon super-wand"></i>super-wand</a>
    <a class="item item-icon-left" href="#"><i class="icon super-waterdrop"></i>super-waterdrop</a>
    <a class="item item-icon-left" href="#"><i class="icon super-wifi"></i>super-wifi</a>
    <a class="item item-icon-left" href="#"><i class="icon super-wineglass"></i>super-wineglass</a>
    <a class="item item-icon-left" href="#"><i class="icon super-woman"></i>super-woman</a>
    <a class="item item-icon-left" href="#"><i class="icon super-wrench"></i>super-wrench</a>
    <a class="item item-icon-left" href="#"><i class="icon super-xbox"></i>super-xbox</a>
  </div>
</div>